.roadsideImage {

}
.dropdownlinks {
  width: 100%;
}
.navbar-nav>li {
  margin-left: 5%;
}

.navbar-nav {
  width: 100%;
}

.sidebar>ul>li {
  margin-top: 1em;
}

.sidebar>ul:first-child {
  margin-top: 4em;
}

.sidebar>ul {
  list-style: none;
}

#headerImg {
  margin-top: 1em;
  margin-left: 5em;
  height: 15em;
  width: auto;
}

.roadsideImage {
  width: 33%;
}

footer>small {
  margin-left: 2em;
  color: lightgrey;
  opacity: 0.5;
  pointer-events: none;
}

#termsLink {
  pointer-events: auto;
}

@media only screen and (min-device-width: 320px) and (orientation: portrait) {
  .sidebar>ul>li {
    margin-top: 3em;
    font-size: 2em;
  }
}

#googlecse {
  width: 20%; 
  padding-top: 1%;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box; 
    line-height: normal;
}

.static {
  padding-left: 18em;
}

#mainContent {
  padding-top: 0.1em;
}

#about {
  
}

h3 {
  padding-left: 1em;
  text-align: center;
}

.roadsideList td {
  border: .5em solid #eeeeee;
  padding-top: 1em;
  padding-bottom: 1em;
}


.listTitle {
  border-left: none !important;
  text-align: left;
  padding-right: 1em;
  width: 35em;
}

.listImage {
  border-right: none !important;
  width: 300px;
  text-align:center; 
  vertical-align:middle;
}

.archive {
  font-size: 2em;
  font-weight: bold;
}

h1 {
  text-align: left;
}

.location {
  font-weight: 900;
}

.credit {
  font-style: italic;
}

.credit > a {
  border: none;
}

.fotorama__wrap {
  margin: 0 auto;
}